# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Developer files
.fortls
.vscode

# Libraries
static
shared
static_mpi
shared_mpi

# Logs
*.log

# Built documentation
doc/html

# MacOS files
.DS_Store